<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

{% block content %}
  <h1>LIST OF QUIZZES</h1>

  <ul>
    {% for quiz in quiz %}
  {% if quiz in quiz_attempted %}
    <li>{{ quiz.q_name }} (attempted)</li>
  {% else %}
    <li><a href="{% url 'result_table' quiz.id %}">{{ quiz.q_name }}</a></li>
  {% endif %}
{% empty %}
  <li>No quizzes available.</li>
{% endfor %}

  </ul>
{% endblock %}
</body>
</html>